#pageIndex #container {
    width: 100vw;
    height: 100vh;
}

#container header {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 8.375rem;
    height: 100%;
}

header .logo img {
    width: 6.25rem;
    height: 1.18rem;
}

header ul {
    display: none;
}

header .menuToggle .one, .two, .three {
    background-color: #ffffff;
    height: 3px;
    width: 26px;
    margin: 6px auto;
    border-radius: 5px;
}

.alin {
    cursor: pointer;
}

.menuToggle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 82px;
    height: 100%;
}

#container main {
    width: 100%;
    height: 90%;

    background-color: #D1CDF6;
    border-radius: 20px 20px 0 0;

    transition: 0.3s;
}

main .tittle {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 280px;
    height: 130px;
    margin: 0 auto;
}

main .clock h1 {
    font: 500 2.3rem Archivo;
    color: #3F0A4E;   
}

main .minutes {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1.5rem 0 0 0;
}

main .inputMinutes {
    width: 13.125rem;
    height: 4.18rem;

    border-radius: 1rem;
    border: none;
    outline: none;

    font: 400 1.5rem Archivo;
    color: #5E5E5E;
    padding: 0 0 0 1rem;
}

main .spaceFreeTime {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 4rem 0 4rem 0;
}

main .freeTime {
    width: 13.125rem;
    height: 4.18rem;

    border-radius: 1rem;
    border: none;
    outline: none;

    font: 400 1.5rem Archivo;
    color: #ffffff;
    background-color: #BAB4C6;

    cursor: pointer;
    transition: 0.3s;
}

main .freeTime:hover {
    background-color: #afacb8;
}

main .freeTime:focus {
    background-color: #96949c;
}

.adcIntervals {
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkIntervals {
    color: #3F0A4E;
    cursor: pointer;
}

.buttonStart {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 3rem 0 0 0;
}

.start {
    width: 13.125rem;
    height: 4.18rem;
    
    border-radius: 1rem;
    border: none;
    outline: none;

    background-color: #783FD6;

    font: 700 1.75rem Archivo;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    cursor: pointer;
    transition: 0.3s;
}

.start:hover {
    background-color: #6b35c2;
}

.start:focus {
    background-color: #602bb4;
}

.content {
    display: none;
}

.intervals.on {
    position: absolute;
    top: 10%;
    left: 0;

    width: 100%;
    height: 90%;

    border-radius: 20px 20px 0 0;

    background-color: #D1CDF6;
}

.intervals.on .content .boxExit {
    display: flex;
    justify-content: flex-end;
}

.intervals.on .content .boxExit .exit {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 54px;

    cursor: pointer;
}

.intervals.on .content .lab {
    display: flex;
    justify-content: center;
    align-items: center;

    font: 400 1.75rem Archivo;
    color: #3F0A4E;
}

.intervals.on .content .inpt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intervals.on .content .inpt input {
    width: 200px;
    height: 50px;

    border-radius: 1rem;
    border: none;
    outline: none;

    font: 400 1.5rem Archivo;
    padding: 0 0 0 1rem;
    margin: 38px 0 74px 0;
}

.intervals.on .content .inpt input::placeholder {
    color: #A4A4A4;
}

.intervals.on .content .send {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 50px 0 0 0;
}

.intervals.on .content .send .toApply {
    width: 200px;
    height: 50px;

    border-radius: 1rem;
    border: none;
    outline: none;

    background-color: #783FD6;

    font: 700 1.5rem Archivo;
    color: #ffffff;

    cursor: pointer;

    transition: 0.3s;
}

.intervals.on .content .send .toApply:hover {
    background-color: #6b33c5;
}